<div class="bg-light-yellow">
    <div id="content" class="fn cf pa4 mw7 center">
        <div class="wi-100 pls prs mw65 center db ptm">
            <p> Hey, I'm a full stack JavaScript developer with experience building in the MEA(R)N Stack. Before learning to
                code, I co-founded and led
                <a class="link black hover-bg-red b" ui-sref="projects">The DIME</a>, a video classifieds app for iOS, from
                inception to completion. The DIME was a key inspiration behind me learning to code. </p>
            <p> I studied Journalism at USC and have worked on a couple political campaigns (websites) since graduating. In my
                spare time, I love deconstructing how technology is used in all aspects of our life and then connecting
                the dots to bring about solutions or advancements.</p>
        </div>
        <div class="w-third">

            <a class="link no-under" href="https://github.com/HollaAtIce">
                <span class="fa fa-github-alt fa-2x" aria-hidden="true"></span>
            </a>
            <a class="link no-under ph2" href="https://www.linkedin.com/in/isaac-cuchilla-59a64389/">
                <span class="fa fa-linkedin fa-2x" aria-hidden="true"></span>
            </a>
            <a class="link no-under" href="https://twitter.com/isaacpants">
                <span class="fa fa-twitter fa-2x" aria-hidden="true"></span>
            </a>

        </div>
    </div>
</div>