<div class="bg-light-yellow">
    <div id="content" class="fn cf pa4 mw7 center">
        <div class="wi-100 pls prs mw65 center db ptm">
            <p> Hey, I'm currently coding at Print Collab doing full stack duties
                using JavaScript (Angular, Node, Express). Before this, I co-founded and led
                <a link no-under ui-sref="thedime">The DIME</a>, a video classifieds app, from idea to iOS app in the
                App Store. The DIME is the inspiration behind learning to code. I studied Journalism at USC and have worked on a couple political campaigns (websites) since graduating.</p>
            <p> In my spare time, I love tinkering with side projects and exploring the city I was born and raised in-- Los Angeles.</p>
        </div>
        <div class="w-third">

            <a class="link no-under" href="https://github.com/HollaAtIce">
                <span class="fa fa-github-alt fa-2x" aria-hidden="true"></span>
            </a>
            <a class="link no-under ph2" href="https://www.linkedin.com/in/isaac-cuchilla-59a64389/">
                <span class="fa fa-linkedin fa-2x" aria-hidden="true"></span>
            </a>
            <a class="link no-under" href="https://twitter.com/isaacpants">
                <span class="fa fa-twitter fa-2x" aria-hidden="true"></span>
            </a>

        </div>
    </div>
</div>