<div id="content" class="fn cf pa4 mw7 center sans-serif">
    <div class="wi-100 pls prs mw65 center db ptm">
        <p>
            <a class="link black hover-bg-red b" ui-sref="thedime">The DIME</a>: A video classifieds app made for iOS helping
            make buying, selling, promotion safer and more interactive. I led this from inception to completion. 
        </p>
        <p>
            <a class="link black hover-bg-red b" href="http://www.ezhousepayment.com/" target="_blank">EZ House Payment</a>:
            A mortgage calculator to determine where your money is going and how you can adjust payments to shorten length
            of loan. Built in React with a Flask back-end, I've contributed front-end code and learning more about the
            architecture of app.
        </p>
        <p>
            <a class="link black hover-bg-red b" href="http://www.mikehernandezla.com" target="_blank">Mike Hernandez</a>:
            A website for former Los Angeles City Councilmember of the First District (LA has 15). He consults now. 
        </p>
        <p>
            <a class="link black hover-bg-red b" href="http://www.urbansolutionsla.com" target="_blank">Urban Solutions LLC</a>:
            A website for full-service lobbying firm with major influence at Los Angeles City Hall.
        </p>
    </div>
</div>