<div id="content" class="fn cf pa4 mw7 center sans-serif">
    <div class="wi-100 pls prs mw65 center db ptm">
        <p>
            <a class="link black hover-bg-red b" ui-sref="thedime">The DIME</a>: A video classifieds app made for iOS helping
            make buying, selling, promotion safer and more interactive.
        </p>
        <p>
            <a class="link black hover-bg-red b" href="http://www.mikehernandezla.com">Mike Hernandez</a>: A website for
            former Los Angeles City Councilmember of the First District (LA has 15). He consults now.
        </p>
        <p>
            <a class="link black hover-bg-red b" href="http://www.urbansolutionsla.com">Morrie Goldman</a>: A website for
            influential Consultant/Lobbyist at LA City Hall.
        </p>
        <p>
            <a class="link black hover-bg-red b" href="http://www.modernassemblyrequired.com">Modern Assembly Required, Inc.</a>:
            Just started on this website but it'll start showcasing all the mighty good homes they build in and around Los
            Angeles.
        </p>
    </div>
</div>