<div class="bg-light-yellow">
    <div id="content" class="fn cf pa4">
        <div class="fl w-50 sans-serif f5">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/y0R6bCrrqRM" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="w-third">

            <a class="link no-under" href="https://github.com/HollaAtIce">
                <span class="fa fa-github-alt fa-2x" aria-hidden="true"></span>
            </a>
            <a class="link no-under ph2" href="https://www.linkedin.com/in/isaac-cuchilla-59a64389/">
                <span class="fa fa-linkedin fa-2x" aria-hidden="true"></span>
            </a>
            <a class="link no-under" href="https://twitter.com/isaacpants">
                <span class="fa fa-twitter fa-2x" aria-hidden="true"></span>
            </a>

        </div>
    </div>
</div>