<div id="content" class="fn cf pa4 mw7 center">
    <div class="wi-100 pls prs mw65 center db ptm">
        <p> I co-founded The DIME and led it from inception to completion. The DIME was a video classifieds app for buying, selling
            and promotion. Every ad is a video of 30 seconds or less, recorded from the camera on your smartphone. I wrote
            our business plan, created the app workflow, found and managed developers, raised seed money and learned to get
            stuff done. Watch a video about of it <a class="link black hover-bg-red b" ui-sref="thedimevideo">here</a>.</p>
        <p> The DIME was an iOS app built using Objective-C and Amazon Web Services.</p>
    </div>
</div>
<section class="cf w-100 pa2-ns sans-serif">
    <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
        <div class="aspect-ratio aspect-ratio--3x4">
            <img style="background-image:url(public/images/xxhome.png); background-repeat: no-repeat" class="db bg-center bg-near-yellow contain aspect-ratio--object"
            />
        </div>
        <a class="ph2 ph0-ns pb3 link db">
            <h3 class="f5 f4-ns mb0 black-90">Home</h3>
            <h3 class="f6 f5 fw4 mt2 black-60">Either Buy, Sell or Search.</h3>
        </a>
    </article>
    <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
        <div class="aspect-ratio aspect-ratio--3x4">
            <img style="background-image:url(public/images/xxcategories.png); background-repeat: no-repeat" class="db bg-center bg-near-yellow contain aspect-ratio--object"
            />
        </div>
        <a class="ph2 ph0-ns pb3 link db">
            <h3 class="f5 f4-ns mb0 black-90">Pick a Category</h3>
            <h3 class="f6 f5 fw4 mt2 black-60">(ex) For Sale > Electronics</h3>
        </a>
    </article>
    <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
        <div class="aspect-ratio aspect-ratio--3x4">
            <img style="background-image:url(public/images/xxlistview.png)" class="db bg-center bg-near-yellow contain aspect-ratio--object"
            />
        </div>
        <a class="ph2 ph0-ns pb3 link db">
            <h3 class="f5 f4-ns mb0 black-90">Browse</h3>
            <h3 class="f6 f5 fw4 mt2 black-60">List View</h3>
        </a>
    </article>
    <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
        <div class="aspect-ratio aspect-ratio--3x4">
            <img style="background-image:url(public/images/xxvideoview.png)" class="db bg-center bg-near-yellow contain aspect-ratio--object"
            />
        </div>
        <a class="ph2 ph0-ns pb3 link db">
            <h3 class="f5 f4-ns mb0 black-90">Browse and Play Video</h3>
            <h3 class="f6 f5 fw4 mt2 black-60">Video View</h3>
        </a>
    </article>
    <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
        <div class="aspect-ratio aspect-ratio--3x4">
            <img style="background-image:url(public/images/xxmapview.png)" class="db bg-center bg-near-yellow contain aspect-ratio--object"
            />
        </div>
        <a class="ph2 ph0-ns pb3 link db">
            <h3 class="f5 f4-ns mb0 black-90">Browse with Maps</h3>
            <h3 class="f6 f5 fw4 mt2 black-60">Map View</h3>
        </a>
    </article>
    <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
        <div class="aspect-ratio aspect-ratio--3x4">
            <img style="background-image:url(public/images/xxrecording.jpg)" class="db bg-center bg-near-yellow contain aspect-ratio--object"
            />
        </div>
        <a class="ph2 ph0-ns pb3 link db">
            <h3 class="f5 f4-ns mb0 black-90">Record Ad</h3>
            <h3 class="f6 f5 fw4 mt2 black-60">30 seconds or less</h3>
        </a>
    </article>
    <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
        <div class="aspect-ratio aspect-ratio--3x4">
            <img style="background-image:url(public/images/xxoptions.png)" class="db bg-center bg-near-yellow contain aspect-ratio--object"
            />
        </div>
        <a class="ph2 ph0-ns pb3 link db">
            <h3 class="f5 f4-ns mb0 black-90">Options</h3>
            <h3 class="f6 f5 fw4 mt2 black-60">Take Your Pick</h3>
        </a>
    </article>
    <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
        <div class="aspect-ratio aspect-ratio--3x4">
            <img style="background-image:url(public/images/xxchat.jpg)" class="db bg-center bg-near-yellow contain aspect-ratio--object"
            />
        </div>
        <a class="ph2 ph0-ns pb3 link db">
            <h3 class="f5 f4-ns mb0 black-90">Chat</h3>
            <h3 class="f6 f5 fw4 mt2 black-60">It's faster than email</h3>
        </a>
    </article>


</section>